.tabsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  overflow-x: auto; 
  white-space: nowrap;
}

.tab {
  padding: 16px 24px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;

  &:hover {
    color: #333;
  }
}

.active {
  color: var(--primaryColor);
  border-bottom: 2px solid var(--primaryColor);
}


@media screen and (max-width: 767px) {
  .tab {
    padding: 10px 16px;
  }
}
