.container {
  height: 96%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;


.lendsqrLogoSection {
  img{
    width: 30%;
  }
}

.loginImageSection{
  img{
    width: 100%;
  }
}

}