.container {
  height: 100vh;
  display: flex;
  gap: 5rem;
  align-items: stretch;
  justify-content: end;
  padding: 0 4.25rem;

.imageSection,
.formSection {
  width: 50%;
  height: 100%;
}
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    gap: 2rem;
    padding: 0 2rem; 

  .imageSection {
    display: none;
  }

  .formSection {
    width: 100%;
  }
}
}

@media screen and (max-width: 767px) {
  .container {
    gap: 1rem; 
    padding: 0 2rem;

  .imageSection {
    display: none;
  }

  .formSection {
    width: 100%;
  }
}
}
