
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backGroundBlack);
}

p {
  color: #545F7D;
}


:root {
  --hoverBackgroundColor: #f3fcfc;
  --primaryColor: #39CDCC;
  --secondaryColor: #213f7d;
}
