.container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 168px;
  padding: 30px;
}

.logoSection > img {
  width: 120px;
}

.searchSection {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  input {
    height: 100%;
    width: calc(400px - 52px);
    background: #ffffff;
    border: none;
    border-radius: 8px 0 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #545f7d;
    outline: none;
    padding: 0 12px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #21407d3a;
    border-right: none;
    box-sizing: border-box;
    
    &::placeholder {
      opacity: 0.7;
    }
  }
  button {
    width: 52px;
    height: 40px;
    background: var(--primaryColor);
    color: #ffffff;
    border: none;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;
  }
}

.profileAndDocs {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 3rem;
  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: underline;
    color: var(--secondaryColor);
  }
  div:nth-child(2) {
    font-size: 1.5rem;
    color: var(--secondaryColor);
  }
  div:nth-child(3) {
    display: flex;
    align-items: center;
    img:nth-child(1) {
      height: 40px;
      width: 40px;
      border-radius: 50px;
    }
    span:nth-child(2) {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: var(--secondaryColor);
      margin: 0 10px;
    }
    span:nth-child(3) {
      color: var(--secondaryColor);
    }
  }
}

.hamburgerMenu {
  display: none;
}

/* Tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 30px;
  }
  .logoSection > img {
    width: 120px;
  }
  .searchSection {
    display: none;
  }
  .profileAndDocs {
    display: none;
  }
  .hamburgerMenu {
    display: block;
    margin-left: auto;
    font-size: 1.2rem;
    color: var(--secondaryColor);
  }
}

/* Mobile Phone */
@media screen and (max-width: 767px) {
  .container {
    padding: 24px;
  }
  .logoSection > img {
    width: 120px;
  }
  .searchSection {
    display: none;
  }
  .profileAndDocs {
    display: none;
  }
  .hamburgerMenu {
    display: block;
    margin-left: auto;
    font-size: 1.2rem;
    color: var(--secondaryColor);
  }
}
